<?xml version="1.0" encoding="utf-8" ?>
<DeveloperInfo>
    <PluginList>
        <Plugin className="alipay/IAPAdapter" />
    </PluginList>
    <ParamList>
        <Param name="WxpayAppId" value="" />
    </ParamList>
</DeveloperInfo>