<?xml version="1.0" encoding="utf-8" ?>
<DeveloperInfo>
    <PluginList>
        <Plugin className="wxpay/IAPAdapter" />
        <Plugin className="wxpay/ShareAdapter" />
    </PluginList>
    <ParamList>
        <Param name="WXAppId" value="" />
    </ParamList>
</DeveloperInfo>