<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sdk.migame.payment"
    android:versionCode="46011"
    android:versionName="4.6.11" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="15" />

    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="com.xiaomi.sdk.permission.PAYMENT" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <application
        android:name="com.sdk.migame.payment.MiAppApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
       
    </application>

</manifest>