<?xml version="1.0" encoding="utf-8" ?>
<DeveloperInfo>
    <PluginList>
        <Plugin className="sobot/SobotAdapter" />
    </PluginList>
    <ParamList>
        <Param name="" value="" />
    </ParamList>
</DeveloperInfo>