<?xml version="1.0" encoding="utf-8" ?>
<DeveloperInfo>
    <PluginList>
        <Plugin className="umeng/AnalyticsAdapter" />
    </PluginList>
    <ParamList>
        <Param name="UmengAppKey" value="" />
        <Param name="UmengChannelKey" value="release" />
        <Param name="UmengScenarioType" value="1" />
        <Param name="UmengEnableCrashCatch" value="true" />
        <Param name="UmengDebugMode" value="false" />
    </ParamList>
</DeveloperInfo>